body {
    margin: 0;
    padding: 0;
    font-family: 'Times New Roman', Times, serif;
    font-size: 1.5rem;
}

/* ШАПКА */
header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0% 35%;
    font-weight: bold;
    background: linear-gradient(180deg, 
        #BD262C, 
        #45276D
    );
    color: white;
}

.logo a img {
    height: 100px;
    display: block;
}

/* МЭЙН, НАЧАЛО ИНДЕКСА */
main {
    padding: 1% 0% 0% 10%;
    background-color: white;
    font-size: 1.25rem;
    display: flex;
    gap: 10px;
}

.index_left {    
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.base, .info {
    display: flex;
    flex-wrap: wrap;
    gap: 5px;
    align-items: flex-start;
}

.hello, .info_text {
    border: 5px red double;
}

.hello, .state, .info_text {
    border: 5px red double;
    padding: 1%;
}

.state, .info_image {    
    border: 5px blue double;
}

.info_text, .info_image {
    width: 46.95%;
}

.info_text {
    flex-grow: 1;
}

.info_image {
    position: relative;
    height: 400px;
    padding: 0;
    flex-shrink: 0;
}

.info_image img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
    display: block;
}

/* ОТЗЫВЫ СПРАВА */
.index_right {
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding: 1%;
    background: linear-gradient(180deg, 
        #ff0000, 
        #ff9900, 
        #ffff00, 
        #00ff00, 
        #00ffff, 
        #0000ff, 
        #9900ff
    );
    width: 50%;
    border-radius: 25px 0px 0px 25px;
    border: 5px double;
    border-right: none;
}

.feedback {
    background-color: white;
    padding: 2.5% 5%;
    border-radius: 15px;
    width: 50%;
}

.feedback_name {
    font-weight: bold;
}

.feedback_rate {
    color: rgb(255, 230, 0)
}

.layout {
  display: flex;
}

.left  { flex: 1; }
.center{ flex: 3; }
.right { flex: 1; }
