{% load static %}

<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" href="{% static 'img/favicon.ico' %}" type="image/x-icon">
    <link rel="stylesheet" href="{% static 'styles.css' %}">
    <link rel="stylesheet" href="{% static 'media.css' %}">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Prosto+One&display=swap" rel="stylesheet">
    <title>Д Е С П О Т</title>
</head>
<body>
    <main>
        <div class="adblock">
            <a style="color: #005ebd;">Пожалуйста, выключите блокировку рекламы перед использованием сайта.</a>
            <span class="font-15" style="color: #ca1f13;">Реклама позволяет Деспоту делать ежемесячные пожертвования на восстановление людям, 
                пострадавшим в условиях чрезвычайных ситуаций.</span>
        </div>
    </main>
    
    <script src="{% static 'scripts.js' %}"></script>
</body>
</html>